body {
	background-color: #000;
	color: #ddd;
}

/* ===== Images ===== */

/* Fill screen */
img#trail_image {
    width: auto;
    height: auto;
    max-width: 95vw;
    max-height: 95vh;
}

/* And centre image */
img#trail_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ===== Text ===== */

/* Size text block */
div#text_container {
	width: 90vw;
	height: 10px;
	max-width: 700px;
	min-height: 80vh;
}

/* Centre text */
div#text_container {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;	
 	padding-top: 2em;
}

div#trail_text {
	font-size: 1.5em;
	line-height: 150%;
	color: #e0e0e0;
}

div#text_container a.next {
	font-size: 2em;
	color: #c0c0c0;
	text-decoration: none;
	
	display: block;
	position: absolute;
	top: 0.5em;
	right: 3em;	
}