body {
	background-color: #000;
	color: #ddd;
}

/* ===== Images ===== */

/* Fill screen */
img#trail_image {
    width: auto;
    height: auto;
    max-width: 95vw;
    max-height: 95vh;
}

/* And centre image */
img#trail_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ===== Text ===== */

/* Size text block */
div#text_container {
	width: 90vw;
	height: 10px;
	max-width: 700px;
	min-height: 80vh;
}

/* Centre text */
div#text_container {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;	
 	padding-top: 2em;
}

div#trail_text {
	font-size: 2em;
	line-height: 150%;
	color: #e0e0e0;
}

div#trail_text a {
	text-decoration: none;
}

div#trail_text a:visited {
	color: #e0e0e0;
	text-decoration: none;
}

/* ===== Homepage ===== */

/* General */

body#homepage div#wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

body#homepage div.section_wrap {
	flex-basis: 100%;
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 2em;
}

/* Header */

div#index_head {
	align-items: end;
}

#index_head img#site_logo {
	margin-right: 1em;
	-webkit-filter: saturate(0%);
	        filter: saturate(0%);
}

#index_head img#site_logo:hover {
    -webkit-filter: saturate(75%);
            filter: saturate(75%);
}


#index_head div#head_title {
	font-size: 2.5em;
}


/* Info box */
div.trail_entry_box {
	display: block;
	width: 400px;
	height: 300px;
	position: relative;
}

div.trail_entry_box:hover {
   cursor: hand;
   cursor: pointer;
   opacity: .9;
}

div.trail_entry_box a.box_link {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
}

div.trail_entry_box div.trail_summary {
	display: block;
	width: 100%;
	height: 100%;
	background-image: var(--trail-img);
	background-size: 100% 100%;
	position: absolute;
}

div.trail_summary .trail_name {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	
}
div.trail_summary .trail_name a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
	padding: 10px;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: white;
}