body {
	background-color: #000;
	color: #ddd;
}

/* ===== Images ===== */

/* Fill screen */
img#trail_image {
    width: auto;
    height: auto;
    max-width: 95vw;
    max-height: 95vh;
}

/* And centre image */
img#trail_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}