<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^trail/([^\/]+)/([0-9]+|end)/?$ index_trail.php?path=$1/$2 [NC,L]
</IfModule>